img {
  width: 60%;
  height: 60%;
  margin-bottom: 5px;
}

ol a {
  font-family: fantasy;
  text-decoration: underline;
  font-size: 14pt;
  color: #337ab7
}

ol li {
  font-family: fantasy;
  text-decoration: underline;
  font-size: 14pt;
  color: #337ab7
}

ul p {
  font-size: 12pt;
  color: black;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-decoration: underline;
  color: #black;
}

h3 {
  color: #black;
}

body {
  background-color: #FF8C00;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  height: 100%;
}

.box {
  padding-top: 60px;
}

ul li {
  list-style: circle;
  color: #337ab7;
  font-size: 14pt;
}

ul a {
  list-style: circle;
  color: #337ab7;
  font-size: 14pt;
  text-decoration: underline;
}

ul.nav > li > a:hover {
	background-color: #fff;
	color: #337ab7;
	border: solid 1px;
  border-color: #fff;
}

#projects {
  border-style: solid 2px;
  padding: 5px;
  background-color: #fff;
}

#aboutme {
  border-style: solid 2px;
  padding: 5px;
  background-color: #fff;
  margin-top: 25px;
}

#aboutme p {
  font-size: 12pt;
}

#aboutme h3 {
  text-decoration: underline;
}

.panel {
  margin-top: 25px;
  border-radius: 0px;
  text-align: center;
}

.panel-body {
  text-decoration: underline;
}
