img {
  width: 60%;
  height: 60%;
  margin-bottom: 5px;
}

ol li {
  font-family: fantasy;
  font-size: 14pt;
  color: #337ab7
}

ol p {
  font-size: 14pt;
  color: #337ab7
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-decoration: underline;
  color: #337ab7
}

body {
  background-color: #FF8C00;
  margin-top: 5px;
}

.box {
  padding-top: 60px;
}

li {
  list-style: disc;
}

ul.nav > li > a:hover {
	background-color: #fff;
	color: #337ab7;
	border: solid 1px;
  border-color: #fff;
}
